
<div class="mdl-grid">

<div class="mdl-cell mdl-cell--4-col">

  <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text"></h2>
      </div>

    <div class="mdl-card__supporting-text">

    </div>

    </div>
</div>
<div class="mdl-cell mdl-cell--4-col">

  <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Rides by temperature</h2>
      </div>

    <div class="mdl-card__supporting-text">
      <p>  <%= @weathers.temp_breakdown %>    </p>
    </div>

    </div>
</div>

</div>
